<footer class="text-gray-600 body-font">
    <div class="bg-slate-300">
        <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
            <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
                <a class="flex items-center md:justify-start justify-center text-gray-900">
                    <img src="assets/Adiseniar-logo.svg" class="h-24" alt="Logo">
                    <div class="ml-3 text-xl">ADiseniar</div>
                </a>
                <p class="mt-2 text-sm text-gray-500">"Diseño atractivo y tecnología innovadora para 
                    la transformación digital que tu negocio necesita"
                </p>
            </div>
            <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 text-center order-first justify-evenly">

                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-lg mb-3 
                    md:text-start">LINKS</h2>
                    <nav class="list-none mb-10">
                        <li class="md:flex md:items-start">
                            <a class="text-gray-700 hover:text-gray-900"
                            routerLink="/diseno"
                            >Diseño Digital</a>
                        </li>
                        <li class="md:flex md:items-start">
                            <a class="text-gray-700 hover:text-gray-900"
                            routerLink="/web"
                            >Páginas Web</a>
                        </li>
                        <li class="md:flex md:items-start">
                            <a class="text-gray-700 hover:text-gray-900"
                            routerLink="/portfolio"
                            >Portfolio</a>
                        </li>
                    </nav>
                </div>
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-lg mb-3 
                    md:text-start">REDES</h2>
                    <nav class="list-none mb-10">
                        <li class="md:flex md:items-start">
                            <a class="text-gray-700 hover:text-gray-900"
                            href="https://www.youtube.com/channel/UCOUoIhVbOC-8sEBaAbFrUzg"
                            target="_blank" rel="noopener">
                            YOUTUBE</a>
                        </li>
                        <li class="md:flex md:items-start">
                            <a class="text-gray-700 hover:text-gray-900"
                            href="https://www.instagram.com/adiseniar_/"
                            target="_blank" rel="noopener">
                            INSTAGRAM</a>
                        </li>
                        <li class="md:flex md:items-start">
                            <a class="text-gray-700 hover:text-gray-900">FACEBOOK</a>
                        </li>

                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-rose-400">
        <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-800 text-sm text-center sm:text-left">2023 ADiseniar — adiseniar@gmail.com </p>
            <div class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                <a class="text-gray-800"
                href="https://www.youtube.com/channel/UCOUoIhVbOC-8sEBaAbFrUzg"
                target="_blank" rel="noopener">
                    <img src="assets/youtube.svg" class="h-9" alt="Youtube">
                </a>
                <a class="ml-5 text-gray-800"
                href="https://www.instagram.com/adiseniar_/"
                target="_blank" rel="noopener">
                    <img src="assets/instagram.svg" class="h-9" alt="Instagram">
                </a>
                <a class="ml-5 text-gray-800">
                    <img src="assets/facebook.svg" class="h-9" alt="Instagram">
                </a>
            </div>
        </div>
    </div>
</footer>