<nav class="md:h-40 p-5 bg-blue-300 shadow md:flex md:items-center md:justify-between">
  <div class="flex justify-between items-center">
    <div class="flex text-2xl cursor-pointer" routerLink="home">
      <div>
        <img class="h-16 md:h-20"
        src="assets/Adiseniar-logo.svg">
      </div>
      
      <div class="ml-5 hidden md:flex items-center">ADiseniar</div>  
    </div>

    <div class="text-3xl cursor-pointer mx-2 md:hidden block">
      <img src="assets/menu-1.svg" class="h-8" (click)="togglemenu()">
    </div>
  </div>

  <ul class="md:flex md:items-center md:z-auto md:static bg-blue-300 w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 transition-all ease-in duration-400"
  [ngClass]="{'top-[80px]': booleano, 'opacity-100': booleano, 'absolute': !booleano}"
  >
    <li class="mx-4 my-6 md:my-0">
      <a routerLink="diseno" class="navbar-link text-sm">Diseño Digital</a>
    </li>
    <li class="mx-4 my-6 md:my-0">
      <a routerLink="web" class="navbar-link">Páginas Web</a>
    </li>
    <li class="mx-4 my-6 md:my-0">
      <a routerLink="portfolio" class="navbar-link">Portafolio</a>
    </li>
    <li class="mx-4 my-6 md:my-0">
      <a routerLink="contact" class="navbar-link">Contacto</a>
    </li>
  </ul>
</nav>