<!-------------------------- Section 1 o Header --------------------------------------->

<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-5 items-center justify-center flex-col">
      <div class="flex justify-center pt-10">
        <img class="h-52 md:h-96 mb-10 object-cover rounded-xl bg-blue-300 hover:bg-blue-200" 
        alt="Computer design illustration" src="assets/img/webPage.png">
      </div>
      
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
          Páginas Web de Presentación
        </h1>
        <p class="mb-8 leading-relaxed">
            Una herramienta fundamental para cualquier negocio que busque llegar a su público
            objetivo en línea. Estas páginas están diseñadas específicamente para presentar
            un producto o servicio de manera atractiva y persuasiva, con el objetivo de convertir
            a los visitantes en clientes potenciales.
        </p>
        
      </div>
    </div>
  </section>

  <!------------------------- Section 2 ---------------------------------------->

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-16 mx-auto">
      <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
        <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
          <img src="assets/visibility.svg" alt="Imagen de visibilidad" class="h-12 md:h-20">
        </div>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Visibilidad</h2>
          <p class="leading-relaxed text-base">
          Mostrá tu empresa a un público más amplio y aumentá tu visibilidad en línea.
          Transformá visitantes en clientes potenciales. 
          </p>
        </div>
      </div>
      <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Usabilidad</h2>
          <p class="leading-relaxed text-base">
          Páginas web de presentación simple de navegar con un diseño claro y atractivo, lo
          que hace que sea fácil para los visitantes encontrar la información que están buscando.
          </p>
        </div>
        <div class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
          <img src="assets/user.svg" alt="Imagen de Usabilidad" class="h-12 md:h-16">
        </div>
      </div>
      <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
        <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
          <img src="assets/responsive.svg" alt="Imagen de Responsive" class="h-12 md:h-20">
        </div>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Diseño Responsivo</h2>
          <p class="leading-relaxed text-base">
          El diseño de la Página Web se ajusta automáticamente a diferentes tamaños de pantalla, 
          desde computadoras de escritorio hasta tabletas y teléfonos móviles.
          </p>
         
        </div>
      </div>
      
    </div>
  </section>