<!-------------------------- Section 1 o Header --------------------------------------->

<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-5 items-center justify-center flex-col">
      <div class="flex justify-center pt-10">
        <img class="h-52 md:h-96 mb-10 object-cover rounded-xl bg-blue-300 hover:bg-blue-200" 
        alt="Computer design illustration" src="assets/img/contact.png">
      </div>
      
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
          Contacto
        </h1>
        <p class="mb-8 leading-relaxed">
            Si está interesado en obtener más información sobre nuestros servicios o si desea
            programar una consulta gratuita, no dude en ponerse en contacto con nosotros.
            Estamos deseando trabajar con usted y ayudarlo a alcanzar sus objetivos.
            ¡Contáctanos hoy y dale vida a tu marca!
        </p>
        
      </div>
    </div>
  </section>

  <!---------------------------- Section 2 Form ------------------------------------>

  <section class="container mx-auto pb-24 flex justify-center">
    <iframe class="w-5/6 md:w-4/6"
    src="https://docs.google.com/forms/d/e/1FAIpQLSckVBLMDZJTdWG_R5-qwKSUOp9_60ycXcJ7iRGk9xeyRKV5MA/viewform?embedded=true" 
    width="640" height="640" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </section>