<!-------------------------- Section 1 o Header --------------------------------------->

<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-5 items-center justify-center flex-col">
      <div class="flex justify-center pt-10">
        <img class="h-52 md:h-96 mb-10 object-cover rounded-xl bg-blue-300 hover:bg-blue-200" 
        alt="Computer design illustration" src="assets/img/portfolio.png">
      </div>
      
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
          Portfolio
        </h1>
        <p class="mb-8 leading-relaxed">
            En nuestros trabajos previos, hemos demostrado nuestra capacidad
            para crear soluciones innovadoras y efectivas para nuestros clientes.
            Echa un vistazo a nuestro portfolio y descubre cómo podemos ayudar a tu empresa
            a crecer, alcanzar sus objetivos y mejorar su presencia en línea.
        </p>
        
      </div>
    </div>
  </section>

  <!----------------------------------- Section 2 ------------------------------------>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Ya estás cerca....</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Te ayudamos en el proceso para 
        construir una marca fuerte y reconocible para destacar en el mercado, adaptandose a los cambios y tendencias.</p>
      </div>

      <div class="bg-stone-200 p-6 mb-8 mx-5">
        <h1 class="text-center font-mono sm:text-3xl text-2xl font-medium mb-4 text-gray-900">
          LOGOS
        </h1>
      </div>
      

      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="Logo DeCarne" class="absolute inset-0 w-full h-full object-contain object-center" src="assets/portfolio/logo-decarne-adiseniar.png">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">DISEÑO LOGO</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">De CARNE</h1>
              <p class="leading-relaxed">Imagen que representa la empresa, marca y producto. 
              Fácil de reconocer, memorable y relevante.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="Logo Piel" class="absolute inset-0 w-full h-full object-contain object-center" src="assets/portfolio/logo-derma-600x350.png">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">DISEÑO LOGO</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">La Piel</h1>
              <p class="leading-relaxed">Logo simple, fácil de recordar, relacionado con los servicos que ofrece
              el profesional. La huella digital de tu marca.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="Logo Pizzeria" class="absolute inset-0 w-full h-full object-contain object-center" src="assets/portfolio/logo650x350.png">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">DISEÑO LOGO</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Pizzeria</h1>
              <p class="leading-relaxed">El logo es el reflejo de la esencia de tu marca, que te llevará
              a destacar y además ayudará a conectar con tu público.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!----------------------------------- Section 3 ------------------------------------>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      
      <div class="bg-stone-200 p-6 mb-8 mx-5">
      <h1 class="text-center font-mono sm:text-3xl text-2xl font-medium mb-4 text-gray-900">
        DESARROLLO WEB 
      </h1>
      </div>

      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-contain object-center" src="assets/portfolio/covdoc.png">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">APLICACIÓN PWA</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Calculadora Médica</h1>
              <p class="leading-relaxed">
                Una Aplicación Web Progresiva (PWA) es una aplicación que se puede acceder desde cualquier dispositivo. 
              </p>

              <div class="mt-4">
                <a class="text-white bg-blue-500 border-0 py-2 px-4 focus:outline-none hover:bg-blue-600 rounded"
                href="https://ecarbo.gitlab.io/coronaviruspwa/" target="_blank" rel="noopener">
                  LINK
                </a>
              </div>
            </div>
            
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-contain object-center" src="assets/portfolio/dermacarbo650x350.png">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">PÁGINA WEB</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dermatología</h1>
              <p class="leading-relaxed">Página Web de Presentacion o Landing. Diseñada especificamente para 
                presentar un servicio de manera atractiva.
              </p>

              <div class="mt-4">
                <a class="text-white bg-blue-500 border-0 py-2 px-4 focus:outline-none hover:bg-blue-600 rounded"
                href="https://www.dermatologiacarbo.com.ar/" target="_blank" rel="noopener">
                  LINK
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-contain object-center" src="assets/portfolio/lm.png">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">PÁGINA WEB</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Lifestyle Medicine</h1>
              <p class="leading-relaxed">
                Página Web de Presentación o Landing. Diseño atractivo y fácil de navegar, con una estructura clara.
              </p>
              <div class="mt-4">
                <a class="text-white bg-blue-500 border-0 py-2 px-4 focus:outline-none hover:bg-blue-600 rounded"
                href="https://lifestylemedicine.vercel.app/" target="_blank" rel="noopener">
                  LINK
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>