<!-------------------------- Section 1 o Header --------------------------------------->

<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-5 items-center justify-center flex-col">
      <div class="flex justify-center pt-10">
        <img class="h-52 md:h-96 mb-10 object-cover rounded-xl bg-blue-300 hover:bg-blue-200" 
        alt="Computer design illustration" src="assets/img/computer-transparent.png">
      </div>
      
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
          La <span class="hover:font-extrabold hover:text-rose-600">Transformación Digital</span> 
          a tu alcance.
        </h1>
        <p class="mb-8 leading-relaxed">
          La transformación digital es cada vez más importante en el mundo actual, ya que la tecnología
          digital está cada vez más presente en todos los aspectos de la vida y el trabajo.
          Te acompañamos en el proceso de diseño de tu logo e identidad de marca, como asi también en el desarrollo 
          de diferentes herramientas digitales para aumentar la llegada a tus usuarios y clientes.
        </p>
        
      </div>
    </div>
  </section>

  <!---------------------------- Section 2 ------------------------------------->

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
        <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
          <img src="assets/paintbrush.svg" alt="Pincel" class="h-12 md:h-16 imgScale imgList">
        </div>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
            Diseño Digital
          </h2>
          <p class="leading-relaxed text-base">
            Un logo y una identidad de marca son importantes para transmitir la identidad
            y los valores de la empresa de manera efectiva. Además, pueden ayudar a diferenciarla 
            de la competencia, generar confianza y lealtad entre los clientes y
            promocionarla para aumentar su reconocimiento.
          </p>
          <a class="mt-3 text-indigo-500 inline-flex items-center">Continuar
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
            Desarrollo Web
          </h2>
          <p class="leading-relaxed text-base">
            Tener una página web puede ser muy beneficioso para tu empresa o negocio, ya que puede aumentar
            tu visibilidad y alcance, mejorar la credibilidad y confianza, proporcionar información
            importante sobre la organización, establecer un canal de comunicación con los clientes
            y mejorar la eficiencia y la productividad.
            </p>
          <a class="mt-3 text-indigo-500 inline-flex items-center">Continuar
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
          <img src="assets/web-page.svg" alt="Webpage" class="h-12 md:h-16 imgScale imgList">
        </div>
      </div>

      <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
        <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
          <img src="assets/phone-app.svg" alt="Phone App" class="h-12 md:h-16 imgScale imgList">
        </div>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-2">
            Aplicaciones PWA
          </h2>
          <p class="leading-relaxed text-base">
            Las PWA son fáciles de instalar y usar, accesibles desde cualquier dispositivo,
            tienen un rendimiento y una velocidad similares a las aplicaciones nativas,
            no necesitan actualizaciones y pueden ayudar a aumentar el tráfico en la página web de la
            organización
          </p>
          <a class="mt-3 text-indigo-500 inline-flex items-center">Continuar
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      
    </div>
  </section>
