<!-------------------------- Section 1 o Header --------------------------------------->

<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-5 items-center justify-center flex-col">
      <div class="flex justify-center pt-10">
        <img class="h-52 md:h-96 mb-10 object-cover rounded-xl bg-blue-300 hover:bg-blue-200" 
        alt="Computer design illustration" src="assets/img/brand-transparent.png">
      </div>
      
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
          Tu Logo. La <span class="hover:font-extrabold hover:text-rose-600">
          identidad perfecta
        </span>para tu marca.
        </h1>
        <p class="mb-8 leading-relaxed">
            Los logotipos son una parte esencial de cualquier marca o empresa.
            No solo son un elemento visual atractivo, sino que también proporcionan
            una serie de beneficios a mediano y largo plazo.
            Un logo bien diseñado te puede ayudar a construir una marca fuerte y crear
            una imagen de confianza.
        </p>
        
      </div>
    </div>
  </section>